/*importar fontes */

/*fazer root*/

*{
    border: 0;
    margin: 0;
    padding: 0;
}

/*menu*/
.menuNavegacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    font-weight: bold;
    text-decoration: none;
}

.logoAroma{
    text-decoration: none;
    cursor: pointer;
    color: black;
}




/*produtos */

.imagem-produto-destaque{
    float: left;
    margin: 0em 5em 0 15em;
}

.container-produto-destaque{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 2rem;
    margin: 5em 10em 10em 10em;
}

.nome-produto-destaque{
    font-weight: bold;
}

.preco-produto{

}

.texto-produto-destaque{
    font-size: 20px;
    color: gray;
    width: 350px;
}

.botao-carrinho{
    background-color: #DB7093;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    width: 500px;
    padding: 15px
    
}

.botao-carrinho:hover{
    opacity: 0.9;
    cursor: pointer;
}

.botao-carrinho:active{
    opacity: 0.5;
}
