@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /*fonte Inter*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
:root{
    --cor-principal: #DB7093;
    --cor-botao-efeito: #E99BB4;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #000000;
    --fonte-principal: 'Inter', sans-serif;
    --fonte-logo: 'Ribeye', sans-serif;
    --fonte-size-titulo: 40px;
    --fonte-size-descricao: 20px;
    --fonte-size-botao: 14px;
    --fonte-size-subtítulo: 16px;
}

/*Seção Banner principal*/
.adocaoBanner {
    text-align: center;
    margin-bottom: 3rem;
    padding: 0 2rem;
    position: relative; 
}

.bannerGatos {
    width: 100%;
    max-width: 1280px;
    height: auto;
    display: block;
}

.gatosDisponiveis{
    font-family: var(--fonte-principal);
    font-size: var(--fonte-size-titulo);
    position: absolute; 
    bottom: 7rem; 
    left: 10%;
    right: 10%;
    text-align: center;
    color: white;
}

/*Seção dos Gatos*/
.blocoGato{
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-top: 80px;

}

.gatos{
    display: grid;
    line-height: 3vh;
    margin-left: 20px;
    text-decoration: none;
    padding: 0;
}

.nome{
    font-family: var(--fonte-principal);
    font-size: var(--fonte-size-subtítulo);
    color: var(--cor-terciaria);
    margin-top: 20px;
    font-weight: 500;
}
